@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');

.busquedaEspecialidad{
    margin-left: 100px;
}
.GESTION-GENERAL-TEXT {
    font-size: 40px;
    font-family: Monserrat;
}
/*
ESTILOS DE LISTAR ESPECIALIDADES
*/
.LISTAR-ESPECIALIDADES-CONTAINER{
    margin-left: 24em;
    width: 800px;
}

.BUSQUEDA-ESPECIALIDAD-TEXT{
    font-size: 32px;
    font-family: Monserrat;
}
.LISTAR-ESPECIALIDADES-TEXT{
    font-family: Monserrat;
    font-size: 32px;
}
.FILTRO-LISTAR-ESPECIALIDADES p{
    font-size: 16px;
    font-family: roboto;
}
.FILTRO-LISTAR-ESPECIALIDADES {
    width: 40em;
    margin-bottom: 20px;
}
.FILTRO-LISTAR-ESPECIALIDADES input{
    height:40px;
    font-size: 13px;
    font-family: roboto;
}
.FILTRO-LISTAR-ESPECIALIDADES select{
    height:40px;
    font-size: 13px;
    font-family: roboto;
}
.LISTAR-ESPECIALIDADES-BOTON{
    display: flex;
    justify-content: flex-end;
}
.LISTAR-ESPECIALIDADES-BOTON button{
    border-radius: 4px;
    background-color: #042354;
    border:none;
    font-family: roboto;
    transition:all 0.5s;
    cursor:pointer;
    width: 120px;
}
.LISTAR-ESPECIALIDADES-BOTON button:hover{
    background-color: #2179D4;
}
.LISTAR-ESPECIALIDADES-BOTON button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.LISTAR-ESPECIALIDADES-BOTON button span:after{
    content:'\2295';
    position:absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.LISTAR-ESPECIALIDADES-BOTON button:hover span{
    
    padding-right:25px;
}
.LISTAR-ESPECIALIDADES-BOTON button:hover span:after{
    
    opacity: 1;
    right: 0;
}
.LISTAR-ESPECIALIDADES-TABLA th{
    font-size: 17px;
    font-family: roboto;
}
.PAGINACION-SIGUIENTE{
    width:40px;
    height: 34px;
    background-color: #042354;
    color:white;
    align-items: center;
    align-content: center;
}

.PAGINACION-ANTERIOR{
    width:40px;
    height: 34px;
    background-color: #042354;
    color:white;
    align-content: center;
}
/*
ESTILOS DE INSERTAR ESPECIALIDAD

*/
.REGISTRAR-ESPECIALIDAD-CONTAINER{
    margin-left: 24em;
    width: 800px;
}
.REGISTRO-ESPECIALIDAD-TEXT{
    font-size: 32px;
    font-family: monserrat;
}
.DATOS-ESPECIALIDAD p{
    font-size: 16px;
    
    font-family: roboto;
}
.DATOS-ESPECIALIDAD input{
    height:40px;
    font-size: 13px;
    font-family: roboto;
}
.DATOS-ESPECIALIDAD select{
    height:35px;
}
.INSERTAR-ESPECIALIDAD-BOTONES button{
    border-radius: 4px;
    font-family: roboto;
    border:none;
    transition:all 0.5s;
    cursor:pointer;
    width: 120px;
}
.LISTAR-ESPECIALIDADES-BOTON .GUARDAR:hover{
    background-color: #2179D4;
}
.LISTAR-ESPECIALIDADES-BOTON .CANCELAR:hover{
    background-color: #C80909;
}
.INSERTAR-ESPECIALIDAD-BOTONES .GUARDAR{
    background-color: #042354;
}
.INSERTAR-ESPECIALIDAD-BOTONES .CANCELAR{
    background-color: #B80000;
}
.INSERTAR-ESPECIALIDAD-BOTONES button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.INSERTAR-ESPECIALIDAD-BOTONES .GUARDAR span:after{
    content:'\1F4C1';
}
.INSERTAR-ESPECIALIDAD-BOTONES .CANCELAR span:after{
    content:'\1F5D9';
}
.INSERTAR-ESPECIALIDAD-BOTONES button span:after{
    position:absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.INSERTAR-ESPECIALIDAD-BOTONES button:hover span{
    
    padding-right:25px;
}
.INSERTAR-ESPECIALIDAD-BOTONES button:hover span:after{
    
    opacity: 1;
    right: 0;
}
/*
ESTILOS DE LISTAR SEMESTRE

*/
.LISTAR-SEMESTRE-CONTAINER{
    margin-left: 24em;
    width: 800px;
}
.GESTION-SEMESTRE-TEXT{
    font-size: 32px;
    font-family: monserrat;
}
.FILTRO-LISTAR-SEMESTRE p{
    font-size: 16px;  
    font-family: roboto;  
}
.FILTRO-LISTAR-SEMESTRE{
    width: 40em;
    margin-bottom: 20px;
}
.FILTRO-LISTAR-SEMESTRE input{
    height:40px;
    font-size: 13px;
    font-family: roboto;
}
.FILTRO-LISTAR-SEMESTRE select{
    height:35px;
}
.LISTAR-SEMESTRE-TEXT{
    font-family: Monserrat;
    font-size: 32px;
}
.LISTAR-SEMESTRE-TABLA th{
    font-size: 17px;
    font-family: roboto;
}
/*
ESTILOS DE REGISTRAR SEMESTRE ACADEMICO

*/

.GESTIONAR-SEMESTRE-CONTAINER{
    margin-left: 24em;
    width: 800px;
}
/*
ESTILOS DE LISTAR FACULTAD

*/
.LISTAR-FACULTAD-CONTAINER{
    margin-left: 24em;
    width: 800px;
}

.BUSQUEDA-FACULTAD-TEXT{
    font-size: 32px;
    font-family: Monserrat;
}
.LISTAR-ESPECIALIDADES-TEXT{
    font-family: Monserrat;
    font-size: 32px;
}
.FILTRO-LISTAR-FACULTADES p{
    font-size: 16px;
    font-family: roboto;
}
.FILTRO-LISTAR-FACULTADES {
    width: 40em;
    margin-bottom: 20px;
}
.FILTRO-LISTAR-FACULTADES input{
    height:40px;
    font-size: 13px;
    font-family: roboto;
}
/*FALTA DESDE ACA*/
.LISTAR-ESPECIALIDADES-BOTON{
    display: flex;
    justify-content: flex-end;
}
.LISTAR-ESPECIALIDADES-BOTON button{
    border-radius: 4px;
    background-color: #042354;
    border:none;
    font-family: roboto;
    transition:all 0.5s;
    cursor:pointer;
    width: 120px;
}
.LISTAR-ESPECIALIDADES-BOTON button:hover{
    background-color: #2179D4;
}
.LISTAR-ESPECIALIDADES-BOTON button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.LISTAR-ESPECIALIDADES-BOTON button span:after{
    content:'\2295';
    position:absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.LISTAR-ESPECIALIDADES-BOTON button:hover span{
    
    padding-right:25px;
}
.LISTAR-ESPECIALIDADES-BOTON button:hover span:after{
    
    opacity: 1;
    right: 0;
}
.LISTAR-ESPECIALIDADES-TABLA th{
    font-size: 17px;
    font-family: roboto;
}
.PAGINACION-SIGUIENTE{
    width:40px;
    height: 34px;
    background-color: #042354;
    color:white;
    align-items: center;
    align-content: center;
}

.PAGINACION-ANTERIOR{
    width:40px;
    height: 34px;
    background-color: #042354;
    color:white;
    align-content: center;
}
