@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');


.busquedaEspecialidad{
    margin-left: 100px;
}


/*CONTENEDOR PARA ALUMNO*/  
.CONTAINERALUMNO{
    width: 65%;
    position: relative;
    
    font-family: 'Montserrat', sans-serif;
    left: 22%;
}


.HEADER-TEXT1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #042354;
    font-weight: bold;
    display: flex;
    height: 60px;
}

.HEADER-TEXT2{
    font-size: 20px;
    color: #000;
    font-weight: bold;
    height: 20px;
}

.HEADER-TEXT3{
    font-size: 14px;
    color: #000;
    height: 20px;
    text-align: center;

}

.HEADER-TEXT4{
    font-size: 14px;
    color: #9B9999;
    height: 50px;
    text-align: center;
}
.HEADER-TEXT5{
    font-size: 27px;
    color: #042354;
    font-weight: bold;
    height: 50px;
    text-align: center;
}

.HEADER-TEXT6{
    font-size: 16px;
    color: #2179D4;
    height: 20px;
    text-align: center;
    font-weight:bolder;
    text-decoration: underline;
    cursor: pointer;
}

.HEADER-TEXT7{
    font-size: 16px;
    color: black;
    height: 20px;
    text-align: center;
    font-weight:bolder;
    text-decoration: underline;
    cursor: pointer;
}

.HEADER-TEXT8{
    font-size: 15px;
    color: #042354;
    font-weight: bold;
    height: 50px;
    text-align: left;
}


.HEADER-TEXT9{
    font-size: 15px;
    color: white;
    font-weight: bold;
    height: 50px;
    text-align: left;
}


.HEADER-TEXT10{
    font-size: 30px;
    color: black;
    font-weight: bold;
    height: 50px;
    text-align: center;
}

.HEADER-TEXT11{
    font-size: 17px;
    color: black;
    font-weight: bolder;
    height: 25px;
    text-align: left;
}

.HEADER-TEXT12{
    font-size: 17px;
    color: red;
    font-weight: bolder;
    text-decoration: underline;
    height: 25px;
    text-align: left;
}
.HEADER-TEXT13-DOCUMENTO{
    font-size: 14px;
    color: #000;
    height: 20px;
    text-align: center;

}

.HEADER-TEXT14-DOCUMENTO{
    font-size: 10px;
    color: white;
    height: 20px;
    font-weight: bolder;
    text-align: left;

}

.HEADER-TEXT1-DOCUMENTO {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #042354;
    font-weight: bold;
    display: flex;
    height: 35px;
}

.HEADER-TEXT2-DOCUMENTO {
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    color: #042354;
    font-weight: bold;
    display: flex;
    height: 20px;
}


.HEADER-TEXT11:hover, a:hover{
   text-decoration: none;
   color: #000;
}

.HEADER-TEXT2-INF{
    font-size: 2vw;
    color: #042354;
    font-weight: bold;
}

.HEADER-TEXT2-INF p{
    font-size: 27px;
    font-weight: bold;
    height: 50px;
    text-align: left;
    margin-bottom: 0px;
}

.HEADER-TEXT2-INF a{
    font-size: 19px;
    font-family: roboto;
    padding: 15px;

} 

.INSERTAR-BOTONES button{
    border-radius: 4px;
    font-family: roboto;
    border:none;
    transition:all 0.5s;
    
    cursor:pointer;
    width: 120px;
   
  
}
.INSERTAR-BOTONES .GUARDAR{
    background-color: #042354;
    
    margin : 10px;
}
.INSERTAR-BOTONES .CANCELAR{
    background-color: #B80000;
    margin : 10px;
}
.INSERTAR-BOTONES button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.INSERTAR-BOTONES .GUARDAR span:after{
    content:'\1F4C1';
}
.INSERTAR-BOTONES .CANCELAR span:after{
    content:'\1F5D9';
}
.INSERTAR-BOTONES button span:after{
    position:absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.INSERTAR-BOTONES button:hover span{
    
    padding-right:25px;
}
.INSERTAR-BOTONES button:hover span:after{
    
    opacity: 1;
    right: 0;
}
.BTN-ACCIONES-BASURA svg{
    color: white;
    width: 2em;
    height: 2em;
    size: 2em;
    
}

.BTN-ACCIONES-BASURA:hover svg{
    color: red;
    width: 2.2em;
    height: 2.2em;
}

.BTN-COMENTAR svg{
    color: #042354;
    width: 1.5em;
    height: 1.5em;
    size: 2em;
    
}

.BTN-COMENTAR:hover svg{
    color: black;
    width: 1.7em;
    height: 1.7em;
}

.BTN-SUBIR svg{
    color: #2179D4;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.BTN-CUADRADO-NOTA{
    border: 1px solid #042354;
    box-shadow: 3.5px 2.5px 2.5px rgba(4, 35, 84, 0.25);
    width: 100%;
    min-width: 25%;
    padding: 0.20em 0.5em 0.20em;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 26px 2px;
    min-width: 30%;
    display: inline-block;
    font-size: 5000vw;
    -webkit-text-fill-color: #042354;
    font-size: 1.75vw;
    margin: 4px 2px;
    cursor: pointer;
    vertical-align: middle;
    text-shadow: 2px 2px 2px rgba(4, 35, 84, 0.15);
    margin-bottom: 1.25vw;
    font-weight: bold;
}

.BTN-CUADRADO-NOTA:hover{
    cursor: pointer;
}

.BTN-CUADRADO-NOTA .BTN-CUADRADO-NOTA__checkbox {
    display: none;
}