@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');


/*CONTENEDOR*/  
.CONTAINERASESOR{
    width: 65%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    left: 22%;
}

.CONTAINERASESOR2{
    width: 75%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    left: 22%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: fit-content;
    max-height: 73vh;
}

.CONTAINERASESOR2::-webkit-scrollbar{
    width: 9px;
    background-color: #F1F1F1;
    
}

.CONTAINERASESOR2::-webkit-scrollbar-thumb{
    width: 9px;
    background-color: #C1C1C1;
    border-radius: 5px;
}

/*ESTILOS CABECERAS*/
.HEADER-TEXT1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #042354;
    font-weight: bold;
    display: flex;
    height: 60px;
}

.HEADER-TEXT2{
    font-size: 32px;
    color: #042354;
    font-weight: bold;
    height: 55px;
}
.HEADER-TEXT3{
    font-size: 27px;
    color: #042354;
    font-weight: bold;
    height: 50px;
    text-align: left;
}
/*ESTILOS PARA TABLAS*/
.LISTAR-TABLA {
    align-items: center;
}

.LISTAR-TABLA th{
    font-size: 14px;
    font-family: roboto;
    color: #fff;
    background: #042354;
    text-indent: 0.4em;
}

.LISTAR-TABLA td{
    font-size: 12px;
    font-family: roboto;
    text-indent: 0.4em;
}

.BTN-ACCIONES svg{
    color: #042354;
    width: 1.5em;
    height: 1.5em;
    size: 2em;
    
}

.BTN-ACCIONES:hover svg{
    color: black;
    width: 1.7em;
    height: 1.7em;
}

.LISTAR-TABLA tr:hover{
    font-size: 14px;
    font-family: roboto;
    text-indent: 0.4em;
    background-color: rgba(33, 121, 212, 0.5);
    color: black;
    font-weight: bold;
}

.DATOS p{
    font-size: 16px;
    font-family: roboto;
}
.DATOS textarea{
    min-height: 80px;
    font-size: 14px;
    font-family: roboto;
    word-break: break-word;
}
.DATOS select{
    height:35px;
    font-size: 14px;
    font-family: roboto;
}
.DATOS input{
    min-height: 35px;
    font-size: 14px;
    font-family: roboto;
}
.DATOS DateRangePicker{
    min-height: 35px;
    font-size: 14px;
    font-family: roboto;
}

.ContenidoPrincipal{
    margin: auto;
    width: 75%;
    padding: 5px;
}


.LISTAR-TABLA2 {
    align-items: center;
}

.LISTAR-TABLA2 table{
    border-collapse : separate;
    border-spacing: 0px 10px;
    border: none;
}

.LISTAR-TABLA2 th{
    
    color: #031D45;
    font-size: 16px;
    font-family: roboto;
    text-indent: 0.4em;
    font-weight: bolder;
    border: none;
}

.LISTAR-TABLA2 td{
    font-size: 13px;
    font-family: roboto;
    padding: 15px;
    border-block: solid 1px gray;
    color:#042354;
    
} 

.TEXTAREA2{
    min-height: 40px;
    font-size: 14px;
    font-family: roboto;
    word-break: break-word;
}

.LINK{
    color: #2179D4;
    text-decoration: underline;
    cursor:pointer;
    font-size: 12px;
}

.DATOS1 textarea{
    min-height: 35px;
    font-size: 14px;
    font-family: roboto;
    word-break: break-word;
}

.DATOS1 p{
    font-size: 16px;
    font-family: roboto;
}