.barra2{
    width: 80%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    left: 20%;
    
}
.tituloSistema{
    margin-left: 2em;
}

.tituloBarra{
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
}
a{
    padding-top: 15px;
    font-family:roboto;
    text-decoration: none;
    color:black;
}
.titulo-info{
    font-family: roboto;
    font-size: 25px;
    margin-right: 15px;
}