.barra2{
    width: 80%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    left: 20%;
    
}
.tituloSistema{
    margin-left: 2em;
}

.tituloBarra{
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
}
a{
    text-decoration: none;
    color:black;
}