@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');


/*CONTENEDOR*/  
.CONTAINERCOMITE{
    width: 65%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    left: 25%;
    padding-top: 20px;
}

/*ESTILOS CABECERAS*/
.HEADER-TEXT1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #042354;
    font-weight: bold;
    display: flex;
    height: 60px;
}

.HEADER-TEXT2{
    font-size: 32px;
    color: #042354;
    font-weight: bold;
    height: 55px;
}
.GESTION-GENERAL-TEXT {
    font-size: 40px;
    font-family: Monserrat;
}
/*
Estilos de listar temas
*/

.LISTAR-TEMAS-CONTAINER{
    margin-left: 24em;
    width: 800px;
}
.BUSQUEDA-TEMAS-TEXT{
    font-size: 32px;
    font-family: Monserrat;
}

.LISTAR-TEMAS-TEXT{
    font-family: Monserrat;
    font-size: 32px;
}
.FILTRO-LISTAR-TEMAS label{
    font-size: 16px;
    font-family: roboto;
}
.FILTRO-LISTAR-TEMAS {
    width: 40em;
    margin-bottom: 0px;
}
.FILTRO-LISTAR-TEMAS input{
    height:35px;
    font-size: 13px;
    font-family: roboto;
}
.FILTRO-LISTAR-ESPECIALIDADES select{
    height:35px;
    font-size: 13px;
    font-family: roboto;
}
.LISTAR-ESPECIALIDADES-BOTON{
    display: flex;
    justify-content: flex-end;
}
.LISTAR-ESPECIALIDADES-BOTON button{
    border-radius: 4px;
    background-color: #042354;
    border:none;
    font-family: roboto;
    transition:all 0.5s;
    cursor:pointer;
    width: 120px;
}
.LISTAR-ESPECIALIDADES-BOTON button:hover{
    background-color: #2179D4;
}
.LISTAR-ESPECIALIDADES-BOTON button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.LISTAR-ESPECIALIDADES-BOTON button span:after{
    content:'\2295';
    position:absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.LISTAR-ESPECIALIDADES-BOTON button:hover span{
    
    padding-right:25px;
}
.LISTAR-ESPECIALIDADES-BOTON button:hover span:after{
    
    opacity: 1;
    right: 0;
}
.LISTAR-ESPECIALIDADES-TABLA th{
    font-size: 17px;
    font-family: roboto;
}
.LISTAR-ESPECIALIDADES-TABLA td{
    font-size: 14px;
    font-family: roboto;
}
.PAGINACION-SIGUIENTE{
    width:40px;
    height: 34px;
    background-color: #042354;
    color:white;
    align-items: center;
    align-content: center;
}

.PAGINACION-ANTERIOR{
    width:40px;
    height: 34px;
    background-color: #042354;
    color:white;
    align-content: center;
}
.contenedorTabla{
    padding:0px;
}
.textoPrincipal{
    padding:0px;
    padding-top: 20px;
}
.TEMAS-TEXT{
    font-size: 40px;
    font-family: Monserrat;
    margin-top: 20px;
}
.LISTADO-TEMAS-TEXT{
    font-size: 32px;
    font-family: Monserrat;
    margin-top: 20px;
}

.LISTAR-BOTON{
    display: flex;
    justify-content: flex-end;
}
.LISTAR-BOTON button{
    border-radius: 4px;
    background-color: #042354;
    border:none;
    font-family: roboto;
    transition:all 0.5s;
    cursor:pointer;
    width: 120px;
}
.LISTAR-BOTON button:hover{
    background-color: #2179D4;
}
.LISTAR-BOTON button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.LISTAR-BOTON button span:after{
    content:'\2295';
    position:absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.LISTAR-BOTON button:hover span{
    
    padding-right:25px;
}
.LISTAR-BOTON button:hover span:after{
    opacity: 1;
    right: 0;
}


.LISTAR-TABLA-ELEMENTOS{
    align-items: center;
    font-size: 12px;
    font-family: roboto;
    text-indent: 0.4em;
}

/*ESTILOS PARA FILTROS*/
.FILTRO-LISTAR p{
    font-size: 14px;
    font-family: roboto;
}

.FILTRO-LISTAR {
    width: 16.5em;
    margin-bottom: 10px;
}
.FILTRO-LISTAR input{
    height: 32px;
    font-size: 12px;
    font-family: roboto;
}
.FILTRO-LISTAR select{
    height:32px;
    font-size: 12px;
    font-family: roboto;
}

.FILTRO-LISTAR-BUSCAR p{
    font-size: 14px;
    font-family: roboto;
}

.FILTRO-LISTAR-BUSCAR {
    width: 34.3em;
    margin-bottom: 20px;
}
.FILTRO-LISTAR-BUSCAR input{
    height: 32px;
    font-size: 12px;
    font-family: roboto;
}
.FILTRO-LISTAR-BUSCAR select{
    height:40px;
    font-size: 12px;
    font-family: roboto;
}
