.modal {
    background-color: rgba(0,0,0, .85);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    justify-content:center;
    align-items: center;
}

.modal__dialog {
    background: #1294F2;
    padding: 10px;
    width: 400px;
    height: 150px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
}

.modal-open  {
    display:grid;
}