.tituloSistema{
    margin-right: 20px;
}
.nombreUsuario{
    color:#fff;
    font-family: roboto;
    font-size: 23px;
    margin-left: 30px;
}
.BTN-LOGOUT svg{
    height: 1.25em;
    width: 1.25em;
}