.FUENTE-LABEL{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
}

.BOTONES-FORM{
    display: flex;
    justify-content: flex-end;
}

.fonnnts2{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: large;
}

.botonForm{
    width: 100px;
    background-color: #042354;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.normal{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: medium;
}

.NAVBUTTON{
    flex-direction: flex-end;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    width: 76%;
    left: 20%;
}

.BOTON-SUPERIOR{
    margin: 0;
    padding: 0;
}

.CONTAINER-ASESOR{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    width: 76%;
    padding-left: 0;
    margin: 0;
    left: 22%;
}

.HEADER-TEXT1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #042354;
    font-weight: bold;
    display: flex;
    height: 60px;
}

.HEADER-TEXT2{
    font-size: 32px;
    color: #042354;
    font-weight: bold;
    height: 55px;
}

.DATOS input{
    height: 2vh;
    width: 100%;
}

.DATOS {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.DATOS p{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

.DATOS textarea{
    min-height: 34px;
    font-size: 16px;
    width: 100%;
    font-family: roboto;
    word-break: break-word;
}

.BUTTON_TABLA{
    background-color: #042354;
    border: none;
    font-size: 13px;
    color: rgb(255, 255, 255);
    height: 35px;
    width: 80px;
}


.BTN-CUADRADO{
    border: 1px solid #042354;
    box-shadow: 3.5px 2.5px 2.5px rgba(4, 35, 84, 0.25);
    width: 90%;
    min-width: 25%;
    padding: 0.20em 0.5em 0.20em;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 26px 2px;
    min-width: 30%;
    display: inline-block;
    font-size: 5000vw;
    -webkit-text-fill-color: #042354;
    font-size: 1.75vw;
    margin: 4px 2px;
    cursor: pointer;
    vertical-align: middle;
    text-shadow: 2px 2px 2px rgba(4, 35, 84, 0.15);
    margin-bottom: 1.25vw;
    font-weight: bold;
}
.BTN-CUADRADO:hover{
    background-color: rgba(33, 121, 212, 0.20);
}
.BTN-CUADRADO:active{
    background-color: rgba(33, 121, 212, 0.25);
    transform: translateY(4px);
    box-shadow: none;
    text-shadow: none;
}
